/* ================= GLOBAL ================= */
body{
margin:0;
font-family:Poppins;
background:linear-gradient(135deg,#020617,#0f172a);
color:white;
}

/* ================= NAVBAR ================= */
.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 30px;
background:rgba(2,6,23,0.9);
border-bottom:1px solid #1e293b;
}

.navbar ul{
display:flex;
gap:15px;
list-style:none;
}

.navbar a{
color:white;
text-decoration:none;
}

.navbar a:hover{
color:#38bdf8;
}

/* ================= HEADER ================= */
.nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 30px;
}

/* ================= LAYOUT ================= */
.container{
display:flex;
gap:20px;
padding:20px;
height:calc(100vh - 120px);
}

/* ================= PLAYER ================= */
.player{
flex:3;
display:flex;
justify-content:center;
align-items:center;
}

.player iframe{
width:100%;
max-width:900px;
height:500px;
border-radius:12px;
box-shadow:0 10px 30px rgba(0,0,0,0.5);
}

/* ================= PLAYLIST ================= */
.playlist{
flex:1;
background:rgba(2,6,23,0.8);
border-radius:12px;
padding:10px;
overflow-y:auto;
border:1px solid #1e293b;
}

/* ================= LECTURE ================= */
.lecture{
padding:12px;
margin-bottom:8px;
border-radius:8px;
cursor:pointer;
transition:0.3s;
background:#0f172a;
}

.lecture:hover{
background:#1e293b;
transform:translateX(5px);
}

/* ACTIVE VIDEO */
.lecture.active{
background:#38bdf8;
color:black;
}

/* ================= BUTTON ================= */
button{
background:#38bdf8;
border:none;
padding:8px 12px;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#0ea5e9;
}

/* ================= MOBILE ================= */
@media (max-width:900px){

.container{
flex-direction:column;
height:auto;
}

.player iframe{
height:250px;
}

}